#https://linuxize.com/post/gitignore-ignoring-files-in-git/
#https://lcolladotor.github.io/2020/03/18/you-just-committed-a-large-file-and-can-t-push-to-github/
#datasets/
.vscode/
.ipynb_checkpoints/
logs
images/
*.zip
*.pth
*.h5